# Ignore SASS files
/.sass-cache
.DS_Store
*.codekit
.idea
.vscode
node_modules

# Ignore compiled CSS and JS files
build
*.css
*.css.map
*.js
*.js.map
!_*.js

# local env files
.env.local
.env.test.local